# Force pnpm
engine-strict=true

# Enable hoisting
hoist=true
hoist-pattern[]=*

# Shamefully hoist (for React Native compatibility)
shamefully-hoist=true

# Auto install peers
auto-install-peers=true

# Strict peer dependencies
strict-peer-dependencies=false

